* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f5f9; 
    color: #333; 
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header {
    background-color: #007bff; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

section {
    padding: 40px 20px;
}

#about {
    background-color: #e3f2fd; 
}

#projects {
    background-color: #bbdefb; 
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    color: #007bff; 
}

.project a {
    color: #007bff; 
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#contact {
    background-color: #90caf9; 
    text-align: center;
    padding: 20px;
}

#contact a {
    color: #007bff; 
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
